version: '2.3'
services:
  lc0: &lc0
    image: vochicong/lc0-docker:gpu
    build:
      context: .
      target: lc0
    runtime: nvidia
    env_file:
      - .env

  lcbot: &bot
    <<: *lc0
    build:
      context: .
      target: lcbot
    volumes:
      - ./lcbot-config.yml:/lcbot/configtmp.yml
      - ./lc0.config:/lc0/bin/lc0.config
      - ./data:/data
      - ./log:/lcbot/log
    command:
      - sh
      - -c
      - |
        sed "s/LICHESS_API_TOKEN/$LICHESS_API_TOKEN/" configtmp.yml > config.yml
        . .venv/bin/activate
        python lichess-bot.py

  cpu:
    image: vochicong/lc0-docker:cpu
    runtime: runc
    build:
      context: cpu
      target: lc0
    env_file:
      - .env

  lcbot-cpu:
    build:
      context: cpu
      target: lcbot
    volumes:
      - ./lcbot-config.yml:/lcbot/configtmp.yml
      - ./lc0.config:/lc0/bin/lc0.config
      - ./data:/data
      - ./log:/lcbot/log
    command:
      - sh
      - -c
      - |
        ls -l /data/networks/weights_run2_32194.pb.gz
        sed "s/LICHESS_API_TOKEN/$LICHESS_API_TOKEN/" configtmp.yml > config.yml
        . .venv/bin/activate
        python lichess-bot.py
