version: '2.3'
services:
  lc0: &lc0
    image: vochicong/lc0-nvidia-docke
    build: .
    runtime: nvidia
    working_dir: /lc0/bin

  lcbot: &bot
    <<: *lc0
    working_dir: /lcbot
    volumes:
      - ./lcbot-config.yml:/lcbot/configtmp.yml
      - ./lc0.config:/lc0/bin/lc0.config
      - ./data:/data
      - ./log:/lcbot/log
    command: >
      sh -c " . .venv/bin/activate &&
              sed "s/LICHESS_API_TOKEN/$LICHESS_API_TOKEN/" configtmp.yml > config.yml &&
              head config.yml &&
              python lichess-bot.py
             "

  lc0exe:
    <<: *bot
    working_dir: /lc0/bin
    command: >
      sh -c " ./lc0 --help &&
              cat lc0.config &&
              ./lc0 selfplay --games=1 --movetime=1000
              "
