threads=4
# minibatch-size=32
syzygy-paths=/data/syzygy/3-4-5
weights=/data/networks/weights_run2_32194.pb.gz
move-overhead=2000
# cpuct=3.168
cpuct=2.5
# cpuct=1
# slowmover=2.868
slowmover=1
# fpu-reduction=-0.068300
verbose-move-stats=true
logfile=/lcbot/log/lc0.log
# temperature=1.2
temp-endgame=0.45
temp-cutoff-move=16
temp-visit-offset=-0.25
fpu-strategy=absolute
